<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.sqlexercise.data.BatchMapper">
    <resultMap id="Batch" type="com.example.sqlexercise.po.Batch">
        <id column="id" property="id"/>
        <result column="batch_text" property="batch_text"/>
        <result column="user_id" property="user_id"/>
        <result column="created_at" jdbcType="TIMESTAMP" javaType="DATE" property="created_at"/>
        <result column="updated_at" jdbcType="TIMESTAMP" javaType="DATE" property="updated_at"/>
        <result column="main_id" property="main_id"/>
        <result column="sub_id" property="sub_id"/>
    </resultMap>

    <select id="selectById" resultMap="Batch">
        select *
        from batch
        where id = #{id}
    </select>

    <insert id="insert" parameterType="com.example.sqlexercise.po.Batch" useGeneratedKeys="false">
        insert into batch
        values (#{id}, #{batch_text}, #{user_id}, #{created_at}, #{updated_at}, #{main_id}, #{sub_id})
    </insert>
</mapper>