<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.sqlexercise.data.BatchMapper">
    <resultMap id="Batch" type="com.example.sqlexercise.po.Batch">
        <id column="id" property="id"></id>
        <result column="batch_text" property="batch_text"></result>
        <result column="user_id" property="user_id"></result>
        <result column="created_at" jdbcType="TIMESTAMP" javaType="DATE" property="created_at"></result>
        <result column="updated_at" jdbcType="TIMESTAMP" javaType="DATE" property="updated_at"></result>
        <result column="main_id" property="main_id"></result>
        <result column="sub_id" property="sub_id"></result>
    </resultMap>

    <select id="getById" resultMap="Batch">
        select * from batches where id=#{id}
    </select>

    <insert id="create" parameterType="com.example.sqlexercise.po.Batch" useGeneratedKeys="false">
        insert into batches values (#{id},#{batch_text},#{user_id},#{created_at},#{updated_at},#{main_id},#{sub_id})
    </insert>
</mapper>