<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.sqlexercise.data.CodeMapper">

    <resultMap id="Cache" type="com.example.sqlexercise.po.Cache">
        <id column="id" property="id"></id>
        <result column="code" property="code"></result>
        <result column="email" property="email"></result>
        <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" javaType="DATE"></result>
        <result column="expiry_at" property="expiryAt" jdbcType="TIMESTAMP" javaType="DATE"></result>
    </resultMap>

    <select id="getCacheByEmail" resultMap="Cache">
        select * from cache where email=#{email}
    </select>

    <insert id="create" parameterType="com.example.sqlexercise.po.Cache" useGeneratedKeys="true" keyProperty="id">
        insert into cache values (#{id},#{code},#{email},#{createdAt},#{expiryAt})
    </insert>

    <update id="update" parameterType="com.example.sqlexercise.po.Cache">
        update cache set code=#{code},created_at=#{createdAt},expiry_at=#{expiryAt} where email=#{email}
    </update>
</mapper>