<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.sqlexercise.data.MainQuestionMapper">
    <resultMap id="MainQuestion" type="com.example.sqlexercise.po.MainQuestion">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="description" property="description"/>
        <result column="db_path" property="dbPath"/>
        <result column="file_name" property="fileName"/>
        <result column="created_at" jdbcType="TIMESTAMP" javaType="DATE" property="createdAt"/>
        <result column="updated_at" jdbcType="TIMESTAMP" javaType="DATE" property="updatedAt"/>
        <result column="total_difficulty" property="totalDifficulty"/>
        <result column="sub_count" property="subCount"/>
    </resultMap>

    <select id="selectById" resultMap="MainQuestion">
        select *
        from main_question
        where id = #{mainId}
    </select>

    <select id="selectByPage" resultType="map">
        select id,
               title,
               sub_count           as subCount,
               case
                   when total_difficulty &lt;= 5 then 'easy'
                   when total_difficulty &lt;= 10 then 'medium'
                   else 'hard' end as difficulty
        from main_question
        limit #{from}, #{size}
    </select>

    <select id="countTotal">
        select count(*)
        from main_question
    </select>

</mapper>
