<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.sqlexercise.data.MainQuestionMapper">
    <resultMap id="MainQuestion" type="com.example.sqlexercise.po.MainQuestion">
        <id column="id" property="id"></id>
        <result column="title" property="title"></result>
        <result column="desc" property="desc"></result>
        <result column="db_path" property="dbPath"></result>
        <result column="file_name" property="fileName"></result>
        <result column="created_at" jdbcType="TIMESTAMP" javaType="DATE" property="createdAt"></result>
        <result column="updated_at" jdbcType="TIMESTAMP" javaType="DATE" property="updatedAt"></result>
        <result column="total_difficulty" property="totalDifficulty"></result>
        <result column="sub_count" property="subCount"></result>
    </resultMap>

    <select id="getByMainId" resultMap="MainQuestion">
        select * from main_questions where id=#{mainId}
    </select>

</mapper>