<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.sqlexercise.data.QuestionTagsMapper">

    <select id="selectTagBySubId" resultType="java.lang.Integer">
        select tag
        from question_tags
        where question_id = #{subId}
    </select>

    <select id="selectTagByMainId" resultType="java.lang.Integer">
        select distinct tag
        from question_tags,
             (select id from sub_question where main_id = #{mainId}) as subIds
        where question_tags.question_id = subIds.id
    </select>

</mapper>