<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.sqlexercise.data.QuestionTagsMapper">

    <select id="selectTagBySubId" resultType="java.lang.Integer">
        select tag
        from question_tags
        where question_id = #{subId}
    </select>

    <select id="selectTagByMainId" resultType="java.lang.Integer">
        select distinct tag
        from question_tags,
             (select id from sub_question where main_id = #{mainId}) as subIds
        where question_tags.question_id = subIds.id
    </select>

    <select id="selectTotalSubQuestionNumOfEachTag" resultType="map">
        select question_tags.tag      as tag,
               count(sub_question.id) as totalSubQuestionNum
        from sub_question
                 left join question_tags on sub_question.id = question_tags.question_id
        where tag is not null
        group by tag;
    </select>

    <select id="selectPassedSubQuestionNumOfEachTag" resultType="map">
        select result.tag            as tag,
               result.subQuestionNum as passedNum
        from (select count(sub_question.id) as subQuestionNum,
                     question_tags.tag      as tag,
                     coalesce(qs.state, 0)  as state
              from (sub_question
                  left join question_tags on sub_question.id = question_tags.question_id)
                       left join (select * from question_state where user_id = #{userId}) as qs
                                 on sub_question.id = qs.sub_id
              group by tag, state) as result
        where result.state = 2
        order by tag;
    </select>

</mapper>