<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.sqlexercise.data.SubQuestionMapper">
    <resultMap id="SubQuestion" type="com.example.sqlexercise.po.SubQuestion">
        <id column="id" property="id"/>
        <result column="main_id" property="mainId"/>
        <result column="description" property="description"/>
        <result column="answer" property="answer"/>
        <result column="created_at" jdbcType="TIMESTAMP" javaType="DATE" property="createdAt"/>
        <result column="updated_at" jdbcType="TIMESTAMP" javaType="DATE" property="updatedAt"/>
        <result column="difficulty" property="difficulty"/>
        <result column="ordered" jdbcType="TINYINT" javaType="BOOLEAN" property="ordered"/>
    </resultMap>

    <select id="selectByMainId" resultType="map">
        select id,
               main_id as mainId,
               description,
               difficulty
        from sub_question
        where main_id = #{mainId}
    </select>

    <select id="selectBySubId" resultMap="SubQuestion">
        select *
        from sub_question
        where id = #{subId}
    </select>

    <select id="selectAll" resultMap="SubQuestion">
        select *
        from sub_question
    </select>

    <select id="countTotal" resultType="java.lang.Integer">
        select COUNT(*)
        from sub_question
    </select>

</mapper>