<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.sqlexercise.data.UserMapper">

    <resultMap id="User" type="com.example.sqlexercise.po.User">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="role" jdbcType="VARCHAR" property="role"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="passwordHash" jdbcType="VARCHAR" property="passwordHash"/>
        <result column="created_at" jdbcType="TIMESTAMP" javaType="DATE" property="createdAt"/>
        <result column="updated_at" jdbcType="TIMESTAMP" javaType="DATE" property="updatedAt"/>
        <result column="disabled" jdbcType="TINYINT" javaType="BOOLEAN" property="disabled"/>
    </resultMap>

    <select id="selectById" resultMap="User">
        select name, role, email
        from users
        where id = #{id}
    </select>

    <select id="selectByEmail" resultMap="User">
        select name, role, email
        from users
        where email = #{email}
    </select>

    <delete id="deleteById">
        delete
        from users
        where id = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.sqlexercise.po.User" useGeneratedKeys="false">
        insert into users
        values (#{id}, #{email}, #{role}, #{name}, #{passwordHash}, #{createdAt}, #{updatedAt}, #{disabled})
    </insert>

    <update id="update" parameterType="com.example.sqlexercise.po.User">
        update users
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="passwordHash != null">
                passwordHash = #{passwordHash},
            </if>
            updated_at = #{updatedAt}
        </set>
        where email = #{email}
    </update>

</mapper>