/* From uiverse.io by @Jedi-hongbin */
.output-btn {
    display: flex;
    height: 2.5em;
    width: 100px;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee4b;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    background: #fff;
}

.output-btn > svg {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    transition: all 0.4s ease-in;
}

.return-btn:hover > svg {
    font-size: 1.2em;
    transform: translateX(-5px);
}
.copy-btn:hover > svg {
    font-size: 1.2em;
    transform: scale(1.1);
}
.export-btn:hover > svg {
    font-size: 1.2;
    transform: translateY(-2px);
}
.output-btn:hover {
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);
}
