.column {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 4px 0;
    .column-label {
        margin: 0 6px 0 18px;
    }
    .column-name-input {
        width: 150px;
    }
    .checkbox {
        width: 14px;
        height: 14px;
    }
    .type-select {
        width: 110px;
        text-align: left;
    }
}